body {
  padding: 1em !important;
}

.mrg24-T {
  margin-top: 1.5em;
}

.mrg8-B {
  margin-bottom: 0.5;
}

.mrg0-T {
  margin-top: 0;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.column-gap-1 {
  column-gap: 1em;
}

.red {
  color: red;
}

.column {
  flex-basis: 40%;
}

input {
  max-width: 50%;
  border: 1px solid #545454 !important;
}

.green {
  color: #0e8345;
}

.gray {
  color: #4b4b4b;
}

.button--primary {
  background-color: black !important;
}
